body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background: url("../images/bg.jpg")
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
}

.section-title {
    margin-left: 21px;
}

/* HEADER */
header {
    background-color: hotpink;
}

header .inner {
    margin: 0 auto;
    max-width: 90%;
    height: 78px;
    display: flex;
    justify-content: space-between;
}

header .logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-group .logo {
    width: 51px;
    height: 51px;
}

header .logo-title {
    color: orange;
}

header .menu-group .menus{
    display: flex;
    justify-content: center;
}

header .menu-group .menus li {
    padding: 9px;
}

header .menu-group a {
    font-size: 18px;
    color: gold;
}

/* PROFILE SECTION */
.profile-section .inner{
    text-align: center;
}

/* VIDEO SECTION */
.video-section .inner {
    text-align: center;
}

.video-section .inner .video {
    border: solid 3px orange;
}

/* FAVORITE WORDS SECTION */
.favorite-words-section .inner {
    text-align: center;
}

.favorite-words-section .inner {
    background-color: khaki;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
}

/* FAVORITE FOODS SECTION */
.favorite-foods-section .inner {
    display: flex;
    justify-content: center;
}

.favorite-foods-section .inner ol li {
    list-style: decimal !important;
    font-size: 21px;
    color: orangered;
}

/* FOOTER */
footer {
    height: 500px;
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .inner #creator {
    font-size: 21px;
}
